<div [@fadeIn]>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/accommodations">Accommodations</a></li>
      <li class="breadcrumb-item active">{{ accommodation.name | titlecase }}</li>
    </ol>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card">
              <h5 class="card-header">{{ accommodation.name }}</h5>
              <div class="card-body">
                <p class="card-text">{{ accommodation.description }}</p>
                <hr>
                <a class="btn btn-info" data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse">Agent info</a>
                <ul class="list-group collapse" id="collapse">
                  <li class="list-group-item"><strong>Name:&nbsp;</strong>{{ agent.name }}</li>
                  <li class="list-group-item"><strong>Surname:&nbsp;</strong>{{ agent.surname }}</li>
                  <li class="list-group-item"><strong>Email address:&nbsp;</strong>{{ agent.email }}</li>
                  <li class="list-group-item"><strong>Phone number:&nbsp;</strong>{{ agent.phone }}</li>
                </ul>
              </div>
            </div>
            <div class="card">
              <h5 class="card-header">Send a message</h5>
              <div class="card-body">
                <form (ngSubmit)="sendMessage()">
                  <textarea id="message" class="form-control" cols="30" rows="5" placeholder="Enter your message here"></textarea>
                  <button type="submit" class="btn btn-success">Send message</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-7">
          <app-apartment-list></app-apartment-list>
      </div>
    </div>
  </div>
</div>
