<div [@fadeIn]>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Accommodations</li>
    </ol>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-5 col-sm-6">
        <div class="card" id="search">
          <div class="card-body">
            <h3>Search for apartments</h3>
            <hr>
            <form [formGroup]="searchForm" (ngSubmit)="searchApartments()">
              <div class="form-group">
                <label for="city">City</label>
                <input id="city" name="city" formControlName="city" type="text" class="form-control" placeholder="Enter city name">
              </div>
              <div class="form-group">
                <label for="startDate">Check-in date</label>
                  <input type="text" class="form-control" id="startDate" data-toggle="datepicker"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar">
                      </span>
                  </span>
              </div>
              <div class="form-group">
                <label for="endDate">Check-out date</label>
                <input type="text" class="form-control" id="endDate" data-toggle="datepicker"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
              </div>
              <div class="form-group">
                <label for="persons">Number of persons (min. 1)</label>
                <input type="number" class="form-control" formControlName="persons" id="persons" min="0">
              </div>
              <button type="button" class="btn btn-link" id="toggleOptionsBtn" (click)="toggleOptions()"><span id="toggleOption">Show</span> advanced options</button>
              <div *ngIf="advancedOptions">
                <div class="form-group">
                  <label for="type">Accommodation type</label>
                  <select id="type" class="form-control">
                    <option value="1">Hotel</option>
                    <option value="2">Bed & breakfast</option>
                    <option value="3">Apartment</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="category">Accommodation category</label>
                  <select id="category" class="form-control">
                    <option value="1">1-5 stars</option>
                    <option value="2">Uncategorized</option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="wifi">
                  <label for="wifi">Wifi</label>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="breakfast">
                  <label for="breakfast">Breakfast</label>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="halfBoard">
                  <label for="halfBoard">Half board</label>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="fullBoard">
                  <label for="fullBoard">Full board</label>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="television">
                  <label for="television">TV</label>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="miniKitchen">
                  <label for="miniKitchen">Mini-kitchen</label>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="kitchen">
                  <label for="kitchen">Kitchen</label>
                </div>
                <div class="form-group">
                  <input type="checkbox" id="privateBathroom">
                  <label for="privateBathroom">Prihvate bathroom</label>
                </div>
              </div>
              <input type="submit" class="btn btn-info btn-block" value="Search apartments" [disabled]="!searchForm.valid">
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-7 col-sm-6">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12" *ngFor="let accommodation of accommodations">
            <div class="card">
              <img class="card-img-top" src="http://www.yourdictionary.com/images/definitions/lg/10096.accommodation.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ accommodation.name }}</h5>
                <p class="card-text">{{ accommodation.street }}, {{ accommodation.city.name }}</p>
                <p class="card-text">{{ accommodation.description }}</p>
                <a class="btn btn-primary" routerLink="{{ accommodation.id }}">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
