 <div [@fadeIn]> 
	<div class="container" *ngIf="apartment"> 
	  <div class="jumbotron">
	  	<h4 class="display-4">{{ title }}</h4>
	      <p class="lead"></p>
	      <h4 class="display-6">Apartment details</h4>
		  <hr>
		    <div class="group row">	
			    <div class="col-sm-4">
			       <label for="name">Name</label>
			       <input type="text" class="form-control" id="name" [(ngModel)] = "apartment.name" [readonly]="true"> 
			    </div>
			    
			    <div class="col-sm-4 col-sm-offset-10">
			      <label for="bedType">Bed type</label>
			      <input type="text" class="form-control" id="bedType" [(ngModel)] = "apartment.bedType" [readonly]="true"> 
			    </div>
		     </div>
		     <hr>
		     <div class="group row">
			    
			    <div class="col-sm-4">
			        <label for="size">Size(m^2)</label>
			        <input type="text" class="form-control" id="size" [(ngModel)] = "apartment.size" [readonly]="true"> 
			     </div>
			     <div class="col-sm-4 col-sm-offset-10">
				     <label for="numOfRooms">Number of rooms</label>
				     <input type="text" class="form-control" id="numOfRooms" [(ngModel)] = "apartment.numOfRooms" [readonly]="true"> 
				  </div>
				  <div class="col-sm-4 col-sm-offset-10">
				      <label for="numOfGuests">Number of guests</label>
				      <input type="text" class="form-control" id="numOfGuests" [(ngModel)] = "apartment.numOfGuests" [readonly]="true"> 
			      </div>
			  </div>
			  <hr>
			  <div class="group row">
			       <div class="col-sm-3">
		            <label for="additionalServices">Additional services</label>
		            </div>
		            <div class="col-sm-2 col-sm-offset-10">
			             <input type="checkbox" (change)="onCheckboxChangeAS($event)"/>
			            <!-- <select type="text">
						  <option *ngFor="let level of additionalServices">{{level}}</option>
						</select> -->
					</div>
					<div class="col-sm-2">
			      	   <label for="pricePlans">Price plans</label>
			           <!-- <select type="text">
					  		<option *ngFor="let j = index of jsonPP">{{jsonPP[j].endDate}}</option>
					</select> -->
			      </div>
			      <div class="col-sm-3 col-sm-offset-10">
			             <input type="checkbox" (change)="onCheckboxChangePP($event)"/>
					</div>
				</div>
				<div class="group row">
					<div class="col-sm-6">
						<ul *ngIf="showAS">
						    <li *ngFor="let i = index of additionalServices">
						      {{ additionalServices[i] }}
						    </li> 
					  	</ul>
					 </div>
		      		<div class="col-sm-6 col-sm-offset-10">
						<ul *ngIf="showPP">
						    <li *ngFor="let pp of jsonPP">
						      from: <i>{{ pp.startDate }}</i> to: <i>{{pp.endDate}}</i> price: <i>{{pp.price}}</i>
						    </li> 
					   </ul>
		      		</div>  
		      	</div>
		      	
			    <div class="group row">
				    <div class="col-sm-6 col-sm-offset-6">
				           <label for="description">Description</label>
				           <!-- <div><textarea style="height: '550px'" [(ngModel)] = "apartment.description" rows="6" cols="60" id="description"  [readonly]="true"></textarea></div> -->
				           <input type="text" style="height:100px" class="form-control" id="description" [(ngModel)] = "apartment.description" [readonly]="true">
				  	</div>
				 </div>
				 <hr>
			  	<div class="group row">
		  	 	 <div class="col-sm-4">
		  		  	<button class="btn btn-outline-info" routerLink="/apartmentTable" type="button">Show gallery</button>
		  		  </div>
		  		  <div class="col-sm-4 col-sm-offset-10">
		  		  	<button class="btn btn-outline-info" (click)="showP()" type="button">New price plan</button>
		  		  </div>
		  		  <div class="col-sm-4 col-sm-offset-10">
		  		  	<button class="btn btn-outline-info" (click)="showR()" type="button">Make a reservation</button>
		  		  </div>
			  	</div>
			  	<hr>
			  	
			  	<div class="group row">
				  <div  class="col-sm-10 col-sm-offset-10" *ngIf="addNewPP">
					  <form [formGroup]="pricePlanForm">
				          <div class="form-group">
				            <label for="startDate">Start date </label>
				               <input type="text" class="form-control" id="startDate" data-toggle="datepicker"> 
				          	<!--  <input formControlName="startDatePP" type="date"/>  -->
						  </div>
						  
						  <div class="form-group">
						   <label for="endDate">End date </label>
				          	<input formControlName="endDatePP" type="date"/>
						  </div>
						  
						   <div class="form-group">
				           	<label for="price">Price</label>
				           	<input formControlName="pricePP" type="number" class="form-control" id="price" placeholder="Define price here">
				          </div>
							<div>		  
				          		<button class="btn btn-info btn-block" type="button" (click)="addPricePlan()">Add</button>
					      	</div>
					      <hr>
				      </form>
				  </div>
			  	</div>
			  	<div class="group row">
				  <div class="col-sm-10 col-sm-offset-10" *ngIf="addNewR">
				  		<form [formGroup]="reservationForm" (ngSubmit)="addReservation()">
					          <div class="form-group">
					              <label for="startDate">Start date</label>
					              <input formControlName="startDateR" type="date"/>
					          </div>
					          <div class="form-group">
					              <label for="endDate">End date</label>
						             <input formControlName="endDateR" type="date"/>
					          </div>
					          <button type="submit" class="btn btn-info btn-block">Make reservation</button>
					    </form>
				  </div>
		  		</div>
		</div>
</div> 
</div>
