<div [@fadeIn]>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/accommodations">Accommodations</a></li>
      <li class="breadcrumb-item"><a routerLink="/accommodations/{{ accommodation.id }}">{{ accommodation.name | titlecase }}</a></li>
      <li class="breadcrumb-item active">Send message</li>
    </ol>
  </nav>
  <div class="container">
    <h1>Message form</h1>
  </div>
</div>
