<div [@fadeIn]>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/accommodations">Accommodations</a></li>
      <li class="breadcrumb-item"><a routerLink="/accommodations/{{ accommodation.id }}">{{ accommodation.name | titlecase }}</a></li>
      <li class="breadcrumb-item active">Send message</li>
    </ol>
  </nav>
  <div class="container">
    <h1>Message form</h1>
    <!-- <div class="card">
      <div class="card-header">
        <h1>Send message to {{ agent.email }}</h1>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="content">Message</label>
          <textarea name="" id="content" cols="30" rows="10" placeholder="Enter your message here." required></textarea>
        </div>
      </div>
    </div> -->
  </div>
</div>
