<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-home"></i>&nbsp;Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/accommodations" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-bed"></i>&nbsp;Accommodations
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="userIsLoggedIn()" routerLink="/reservations" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-calendar-alt"></i>&nbsp;Reservations
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="!userIsLoggedIn()" routerLink="/register" routerLinkActive="active">
          <i class="fas fa-user-plus"></i>&nbsp;&nbsp;Register
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!userIsLoggedIn()" routerLink="/login" routerLinkActive="active">
          <i class="fas fa-power-off"></i>&nbsp;Login
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="userIsLoggedIn()" routerLink="/inbox" routerLinkActive="active">
          <i class="far fa-envelope"></i>&nbsp;Inbox
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="userIsLoggedIn()" routerLink="/profile" routerLinkActive="active">
          <i class="fas fa-user"></i>&nbsp;Profile
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="userIsLoggedIn()" (click)="logout()" id="logout">
          <i class="fas fa-power-off"></i>&nbsp;Logout
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
