<div [@fadeIn]>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active">Register</li>
    </ol>
  </nav>
  <div class="container">
    
    <div class="card">
      <div class="card-header">
        <h1>Register here</h1>
      </div>
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="form-group">
            <label for="email">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter your email">
          </div>
          <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)" class="alert alert-danger">
	            <div *ngIf="registerForm.controls['email'].errors.required">
	            Email is required.
	          	</div>
	          	<div *ngIf="registerForm.controls['email'].errors.pattern">
	            Invalid email pattern.
	          	</div>
	        </div>
          <div class="form-group">
            <label for="name">First name</label>
            <input formControlName="name" type="text" class="form-control" id="name" placeholder="Enter your first name">
          </div>
          <div *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)" class="alert alert-danger">
	            <div *ngIf="registerForm.controls['name'].errors.required">
	            Name is required.
	          	</div>
	        </div>
          <div class="form-group">
            <label for="surname">Last name</label>
            <input formControlName="surname" type="text" class="form-control" id="surname" placeholder="Enter your last name">
          </div>
          <div *ngIf="registerForm.controls['surname'].invalid && (registerForm.controls['surname'].dirty || registerForm.controls['surname'].touched)" class="alert alert-danger">
	            <div *ngIf="registerForm.controls['surname'].errors.required">
	            Last name is required.
	          	</div>
	        </div>
          <div class="form-group">
            <label for="phone">Phone number</label>
            <input formControlName="phone" type="text" class="form-control" id="phone" placeholder="Enter your phone number">
          </div>
          <div *ngIf="registerForm.controls['phone'].invalid && (registerForm.controls['phone'].dirty || registerForm.controls['phone'].touched)" class="alert alert-danger">
	            <div *ngIf="registerForm.controls['phone'].errors.required">
	              Phone is required.
	          	</div>
	          	<div *ngIf="registerForm.controls['phone'].errors.pattern">
	              Invalid phone pattern.
	          	</div>
	        </div>
	        
	       <div class="form-group">
            <label for="country">Country</label>
            <select formControlName="country" required class="form-control" (change)="onCountryChange($event.target.value)">
			    <option *ngFor="let c of countries" [value]="c.id">{{c.name}}</option>
			</select>
		  </div>
		  <div *ngIf="registerForm.controls['country'].invalid && (registerForm.controls['country'].dirty || registerForm.controls['country'].touched)" class="alert alert-danger">
	            <div *ngIf="registerForm.controls['country'].errors.required">
	            Country is required.
	          	</div>
	        </div>
	      
	      <div class="form-group">
            <label for="city">City</label>
            <select formControlName="city" required class="form-control">
			    <option *ngFor="let c of cities" [value]="c.id">{{c.name}}</option>
			</select>
		  </div>
		  <div *ngIf="registerForm.controls['city'].invalid && (registerForm.controls['city'].dirty || registerForm.controls['city'].touched)" class="alert alert-danger">
	            <div *ngIf="registerForm.controls['city'].errors.required">
	            City is required.
	          	</div>
	        </div>
          <div class="form-group">
            <label for="street">Street</label>
            <input formControlName="street" type="text" class="form-control" id="street" placeholder="Enter your street">
          </div>
          <div *ngIf="registerForm.controls['street'].invalid && (registerForm.controls['street'].dirty || registerForm.controls['street'].touched)" class="alert alert-danger">
	            <div *ngIf="registerForm.controls['street'].errors.required">
	              Street is required.
	          	</div>
	        </div>
          <div class="form-group">
            <label for="password1">Password</label>
            <input formControlName="password1" type="password" class="form-control" id="password1" placeholder="Enter your password">
          </div>
          <div *ngIf="registerForm.controls['password1'].invalid && (registerForm.controls['password1'].dirty || registerForm.controls['password1'].touched)" class="alert alert-danger">
	            <div *ngIf="registerForm.controls['password1'].errors.required">
	            Password is required.
	          	</div>
	          	<div *ngIf="registerForm.controls['password1'].errors.minlength">
	            Password must be at least 8 characters long.
	          	</div>
	        </div>
          <div class="form-group">
            <label for="password2">Repeat password</label>
            <input formControlName="password2" type="password" class="form-control" id="password2" placeholder="Repeat your password">
          </div>
          <div *ngIf="registerForm.controls['password2'].invalid && (registerForm.controls['password2'].dirty || registerForm.controls['password2'].touched)" class="alert alert-danger">
	            <div *ngIf="registerForm.controls['password2'].errors.required">
	            Password is required.
	          	</div>
	          	<div *ngIf="registerForm.controls['password2'].errors.minlength">
	            Password must be at least 8 characters long.
	          	</div>
	        </div>
	        <div *ngIf="errorMessage" class="alert alert-danger">
		      {{ errorMessage }}
		    </div>
           <div class="form-group">
            <label for="businessId">Business ID</label>
            <input formControlName="businessId" type="text" class="form-control" id="businessId" placeholder="Enter your business ID here">
          </div>
          <div *ngIf="registerForm.controls['businessId'].invalid && (registerForm.controls['businessId'].dirty || registerForm.controls['businessId'].touched)" class="alert alert-danger">
            Business ID is required.
          </div>
        <!--  <div class="form-group">
            <label for="answer">Security answer</label>
            <input formControlName="answer" type="text" class="form-control" id="answer" placeholder="Enter your answer">
          </div>
          <div *ngIf="registerForm.controls['answer'].invalid && (registerForm.controls['answer'].dirty || registerForm.controls['answer'].touched)" class="alert alert-danger">
            Security answer is required.
          </div>  -->
          <button type="submit" class="btn btn-outline-info btn-block" [disabled]="!registerForm.valid">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
