<div [@fadeIn]>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/accommodations">Accommodations</a></li>
      <li class="breadcrumb-item active" aria-current="page">Search apartments</li>
    </ol>
  </nav>
  <div class="container">
    <h3>Search results: {{ apartments.length }}</h3>
    <table class="table" id="apartments-table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col" (click)="sortTable(0)">Name</th>
          <th scope="col">Bed type</th>
          <th scope="col">Accommodation</th>
          <th scope="col" (click)="sortTable(3)">Category</th>
          <th scope="col">Size</th>
          <th scope="col" (click)="sortTable(5)">Max. number of guests</th>
          <th scope="col">Number of rooms</th>
          <th scope="col">Detail</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let apartment of apartments; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ apartment.name }}</td>
          <td>{{ apartment.type?.name }}</td>
          <td>{{ apartment.accommodation?.name }}</td>
          <td>{{ apartment.accommodation?.category?.name }}</td>
          <td>{{ apartment.size }}</td>
          <td>{{ apartment.maxNumberOfGuests }}</td>
          <td>{{ apartment.numberOfRooms }}</td>
          <td>
            <a class="btn btn-info btn-sm" routerLink="/accommodations/{{ apartment.accommodation?.id }}/apartments/{{ apartment.id }}">Detail</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
