.card {
  max-width: 700px;
  margin: 0 auto;
}

.card-body {
  padding: 0.80rem;
}

.container {
  margin-top: 50px;
}

ul.list-group {
  margin-top: 15px;
}

a.btn {
  margin-top: 15px;
}

.comment-card {
  width: 100%;
}

h3 {
  text-align: center;
}

#created-on {
  font-size: 90%;
  color: gray;
  float: right;
}
