.card {
  max-width: 700px;
  margin: 0 auto;
}

.card-body {
  padding: 0.80rem;
}

.container {
  margin-top: 50px;
}

ul.list-group {
  margin-top: 15px;
}

a.btn {
  margin-top: 15px;
}

.comment-card {
  width: 100%;
}

.content-card {
  padding: 5px;
}

h4 {
  text-align: center;
}

#created-on {
  font-size: 90%;
  color: gray;
  margin-bottom: 0;
  font-style: italic;
  margin-top: 15px;
}

#add-comment {
  margin-bottom: 20px;
}

#rating {
  float: right;
  margin-top: 15px;
  font-size: 90%;
  color: gray;
  font-style: italic;
}
