<div [@fadeIn]>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/additional-services">Additional services</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit additional service</li>
    </ol>
  </nav>
  <div class="container">
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <div class="card">
      <div class="card-header">
        <h3>Edit additional service {{ additionalService.name }}</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="serviceForm" (ngSubmit)="editAdditionalService()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter additional service name">
          </div>
          <button type="submit" class="btn btn-info" [disabled]="!serviceForm.valid">Edit additional service</button>
        </form>
      </div>
    </div>
  </div>
</div>
