<div [@fadeIn]>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Categories</li>
    </ol>
  </nav>
  <div class="container">
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <div class="card">
      <div class="card-header">
        <h3>Add accommodation category</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter category name">
          </div>
          <button type="submit" class="btn btn-info" [disabled]="!categoryForm.valid">Add category</button>
        </form>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered" *ngIf="categories && categories.length > 0; else categoriesNotFound">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Activate/Deactivate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ category.name }}</td>
            <td>
              <a class="btn btn-info btn-sm" routerLink="/categories/{{ category.id }}/edit">Edit category</a>
            </td>
            <td>
                <button class="btn btn-success btn-sm" (click)="activateCategory(category.id)" *ngIf="category.status === 'INACTIVE'">Activate category</button>
                <button class="btn btn-danger btn-sm" (click)="deactivateCategory(category.id)" *ngIf="category.status === 'ACTIVE'">Deactivate category</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #categoriesNotFound>
      <h1>There are no categories yet!</h1>
    </ng-template>
  </div>
</div>
