 <div [@fadeIn]>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active">Reservations</li>
    </ol>
  </nav>
  <div class="container">
    <div *ngIf="show"><!-- *ngIf="reservations.length > 0; else content" -->
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Apartment</th>
            <th scope="col">Check-in date</th>
            <th scope="col">Check-out date</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Option</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reservation of reservations">
            <th scope="row">1</th>
            <td>{{ reservation.apartment }}</td>
            <td>{{ reservation.startDate }}</td>
            <td>{{ reservation.endDate }}</td>
            <td>{{ reservation.price }}</td>
            <td>{{ reservation.status }}</td>
            <td>
              <button *ngIf="reservation.status == 'RESERVATION'" class="btn btn-success btn-sm" (click)="confirmReservation(reservation.id)">Confirm reservation</button>
              <button *ngIf="confirmed" class="btn btn-basic btn-sm" disabled> Reservation confirmed</button>
               <a>
                  <i *ngIf="confirmed" class="fas fa-check"></i>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
   <div *ngIf="!show"></div>{{msg}}
    <ng-template #content>
      <h1>You do not have any reservations yet!</h1>
    </ng-template>
    <div ></div>
  </div>
</div>
