<div [@fadeIn]>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h1>Register here</h1>
      </div>
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="form-group">
            <label for="email">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter your email">
          </div>
          <div class="form-group">
            <label for="name">First name</label>
            <input formControlName="name" type="text" class="form-control" id="name" placeholder="Enter your first name">
          </div>
          <div class="form-group">
            <label for="surname">Last name</label>
            <input formControlName="surname" type="text" class="form-control" id="surname" placeholder="Enter your last name">
          </div>
          <div class="form-group">
            <label for="phone">Phone number</label>
            <input formControlName="phone" type="text" class="form-control" id="phone" placeholder="Enter your phone number">
          </div>
          <div class="form-group">
            <label for="street">Street</label>
            <input formControlName="street" type="text" class="form-control" id="street" placeholder="Enter your street">
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input formControlName="city" type="text" class="form-control" id="city" placeholder="Enter your city">
          </div>
          <div class="form-group">
            <label for="password1">Password</label>
            <input formControlName="password1" type="password" class="form-control" id="password1" placeholder="Enter your password">
          </div>
          <div class="form-group">
            <label for="password2">Repeat password</label>
            <input formControlName="password2" type="password" class="form-control" id="password2" placeholder="Repeat your password">
          </div>
          <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
