<div [@fadeIn]>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to admin panel</h1>
      <p class="lead"></p>
      <hr class="my-4">
      <p>Here you can activate, block and delete users and also approve agents. You can create, update and delete accommodation types, categories and additional services.</p>
      <p>Start by viewing all categories.</p>
      <a class="btn btn-outline-info btn-lg" routerLink="/categories">View all categories</a>
    </div>
  </div>
</div>
